<%- include('partials/header') -%>
<div class="books">
    <div class="books-label">
        <h2>All books</h2>
    </div>

    <div class="books-show-all">
        <div class="book-all">
            <% books.forEach(book => { %>
                
            
            <div class="book-photo" data-url="book/<%= book.id %>">
                <img src="<%= book.image %>">
                <p><%= book.author %></p>
                <p><%= book.title %></p>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<div class="change-page">
    <div class="change-page__button">
        <div class="change-page__button-previous">
            <button>
               <p>Previous</p>
            </button>
        </div>
        <div class="change-page__button-next">
            <button>
                <p>Next</p>
            </button>
        </div>
    </div>
</div>

<script>
    const topPage = <%= topPage %>;
    const currentPage = <%= currentPage %>
    const previosButton = document.querySelector('.change-page__button-previous button');
    const nextButton = document.querySelector('.change-page__button-next button');
    previosButton.onclick= () => {
        location.href = currentPage - 1;
    };

    nextButton.onclick= () => {
        location.href = currentPage + 1;
    };

    if (currentPage == 1 || currentPage < 0){
        previosButton.style.visibility = 'hidden';
    };
    if (currentPage == topPage || currentPage > topPage){
        nextButton.style.visibility = 'hidden';
    };

    document.querySelectorAll('.book-photo').forEach((book) => {
        book.addEventListener('click', () => {
            const url = book.getAttribute('data-url');
            if(url){
                window.location.href = `/${url}`
            }
        });
    });
</script>

<%- include('partials/footer') -%>