<%- include('partials/header.ejs'); -%>
<div class="search">
    <div class="search-title">
        <h2>Explore, Study, Review</h2>
    </div>
    <div class="search-input">
        <form action="/search" method="get">
            <label for="search-site"></label>
            <input type="search" id="search-site" name="search site" autocomplete="off">
            <button>  
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search-form__svg" style=" height: 25px" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg> 
            </button>
   
                      
        </form>
        
    </div>
    <div class="search-autocomplete">
    </div>
</div>
<div>
    <div class="books">
        <div class="books-label">
            <h2>Literature Notes</h2>
        </div>

        <div class="books-show">
            <div class="book">
                <% books.forEach(book => { %>
                    
                
                <div class="book-photo" data-url="book/<%= book.id %>">
                    <img src="<%= book.image %>">
                    <p><%= book.author %></p>
                    <p><%= book.title %></p>
                </div>
                <% }); %>
            </div>
        </div>
       
    </div>
</div>
<div class="add-book">
    <div class="add-book__button">
        <button id="add-book__button">Add New Book</button>
    </div>
</div>
<script>
    const addButton = document.getElementById('add-book__button');
    addButton.onclick = () => {
        location.href = 'add';
    };

 

    const titles = '<%= titles %>'.split(',');
    const searchInput = document.getElementById('search-site');
    const searchResultParent = document.querySelector('.search-autocomplete');

    function showTitles(titles){
        const displayDiv = document.createElement('div');
        displayDiv.classList.add('search-autocomplete__ul');
        searchResultParent.appendChild(displayDiv);

        const displayUl = document.createElement('ul');
        displayDiv.appendChild(displayUl);
        titles.forEach((title) => {
            const liElement = document.createElement('li');
            liElement.textContent = title
            displayUl.appendChild(liElement);
        });
    };

    function clearTitles(){
        if(document.querySelector('.search-autocomplete__ul')){
            document.querySelector('.search-autocomplete__ul').remove()
        }
    }
    searchInput.onkeyup = () => {
        clearTitles()
        let value = searchInput.value
        let result = titles.filter((title) => {
            return title.toLowerCase().includes(value.toLowerCase());
        });
        if(result.length > 0){
            showTitles(result);
        }
        let liElements = document.querySelectorAll('.search-autocomplete__ul li');
        liElements.forEach((li) => {
        li.addEventListener('click', () => {
           searchInput.value = li.textContent;
        });
    });
    };
    
    document.querySelectorAll('.book-photo').forEach((book) => {
        book.addEventListener('click', () => {
            const url = book.getAttribute('data-url');
            if(url){
                window.location.href = url
            }
        });
    });
   
    
    
</script>
<%- include('partials/footer.ejs'); -%>
